// You can override colors BEFORE materialize.scss:
// $primary-color: blue;
$secondary-color: #e65100;

// You can NOT use materialize color mixins since they are not imported yet.
// WRONG! $primary-color: color("materialize-red", "lighten-2");

// @import "your-awesome-color-varialbes.scss"
@import ".meteor/local/build/programs/server/assets/packages/poetic_materialize-scss/packages/poetic_materialize-scss/bower_components/materialize/sass/materialize.scss";
