@media screen and (max-width: 767px) {
    .navbar-fixed-top {
        width:100%;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height:none;
    }
    .navbar-nav {
        margin:0;
    }
    .navbar-form {
        margin:0;
    }
    /* General styles for all menus */
    .cbp-spmenu {
        background: #2c3e50;
        position: fixed;
        padding:0;
        margin:0 !important;
        overflow-x:hidden;
        overflow-y:visible;
        display:block;
        visibility:visible;
    }
    .navbar-fixed-top .cbp-spmenu {
        bottom:0;
    }
    .navbar-toggle {
        float:left;
        margin-left:15px;
    }
    /* Orientation-dependent styles for the content of the menu */
    .cbp-spmenu-vertical {
        width: 360px;
        height: 100%;
        top: 0;
        z-index: 1000;
    }
    .cbp-spmenu-horizontal {
        width: 100%;
        height: 150px;
        left: 0;
        z-index: 1000;
        overflow: hidden;
    }
    .cbp-spmenu-horizontal h3 {
        height: 100%;
        width: 20%;
        float: left;
    }
    .cbp-spmenu-horizontal a {
        float: left;
        width: 20%;
        padding: 0.8em;
        border-left: 1px solid #258ecd;
    }
    /* Vertical menu that slides from the left or right */
    .cbp-spmenu-left {
        left: -360px;
    }
    .cbp-spmenu-right {
        right: -360px;
    }
    .cbp-spmenu-left.cbp-spmenu-open,
    .cbp-spmenu-push-toright .navbar-fixed-top .cbp-spmenu-left.cbp-spmenu-open {
        left: 0px;
    }
    .cbp-spmenu-right.cbp-spmenu-open,
    .cbp-spmenu-push-toleft .navbar-fixed-top .cbp-spmenu-right.cbp-spmenu-open {
        right: 0px;
    }
    /* Horizontal menu that slides from the top or bottom */
    .cbp-spmenu-top {
        top: -150px;
    }
    .cbp-spmenu-bottom {
        bottom: -150px;
    }
    .cbp-spmenu-top.cbp-spmenu-open {
        top: 0px;
    }
    .cbp-spmenu-bottom.cbp-spmenu-open {
        bottom: 0px;
    }
    /* Push classes applied to the body */
    .cbp-spmenu-push {
        overflow-x: hidden;
        position: relative;
        left: 0;
    }
    .cbp-spmenu-push-toright,
    .cbp-spmenu-push-toright .navbar-fixed-top {
        left: 360px;
    }
    .cbp-spmenu-push-toleft,
    .cbp-spmenu-push-toleft .navbar-fixed-top {
        left: -360px;
    }
    /* Transitions */
    .cbp-spmenu,
    .cbp-spmenu-push,
    .navbar {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}
body {
    margin-top:55px;
}