a {text-decoration:none}
a:hover {text-decoration:none;}

h2 {
    font-size: 2.28rem;
}

h3 {
    font-size: 1.64rem;
}

h4 {
    font-size: 24px;
    font-weight: 300;
}

.my-card {
    padding-bottom: -3px !important;
}

.my-card-content {
    padding-top: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 0px !important;
}

.form-group {
    margin-bottom: 15px;
}

.alternate-colors div:nth-child(2n+1) {
    background: #eceff1;
}

.shadowpad {
    padding: 0px;
    border: 1px solid #AAA;
    -webkit-box-shadow: 3px 3px 5px -2px #888 ;
    -moz-box-shadow: 3px 3px 5px -2px #888 ;
    box-shadow: 3px 3px 5px -2px #888 ;
    margin-bottom: 7px;
}

.shadow {
    padding: 10px;
    border: 1px solid #AAA;
    -webkit-box-shadow: 3px 3px 5px -2px #888 ;
    -moz-box-shadow: 3px 3px 5px -2px #888 ;
    box-shadow: 3px 3px 5px -2px #888 ;
    margin-bottom: 7px;
}

.top-right {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
}


.quick-post {
    position: relative;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 10px;
}


.toast {
    opacity: 1 !important;
}

/*
@media (max-width: 768px) { 
    .navbar-brand { position: absolute; left: 50%; margin-left: -72px; }
    
    .sidebar-close { visibility: hidden; }
}*/


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}