a {text-decoration:none}
a:hover {text-decoration:none;}

.alternate-colors div:nth-child(2n+1) {
    background: #f1fff6;
}

.alternative-colors div:nth-child(2n+2) {
    background: #def7e5;
}

.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}


.quick-place {
    position: relative;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 30px;
}


.quick-post {
    position: relative;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 10px;
}


.toast {
    opacity: 1 !important;
}


@media (max-width: 768px) { 
    .navbar-brand { position: absolute; left: 50%; margin-left: -72px; }
    
    .sidebar-close { visibility: hidden; }
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}