a {text-decoration:none}
a:hover {text-decoration:none;}

h2 {
    font-size: 2.28rem;
}

h3 {
    font-size: 1.64rem;
}

h4 {
    font-size: 24px;
    font-weight: 300;
}

.note-toolbar {
   background-color: #e65100 !important;
}

.note-editor {
   border-color: #e65100 !important;
}

.note-editor .btn {
   background-color: #e65100 !important;
}

.note-editor .btn:hover {
   background-color: #ff5a00 !important;
}

.select-wrapper + label {
    top: 0px !important;
}

.my-card {
    padding-bottom: -3px !important;
    border: 1px solid rgba(160, 160, 160, 0.4) !important;
}

.my-card-content {
    padding-top: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 0px !important;
}

.form-group {
    margin-bottom: 15px;
}

.alternate-colors div:nth-child(2n+1) {
    background: #eceff1;
}

.shadowpad {
    padding: 0px;
    border: 1px solid #AAA;
    -webkit-box-shadow: 3px 3px 5px -2px #888 ;
    -moz-box-shadow: 3px 3px 5px -2px #888 ;
    box-shadow: 3px 3px 5px -2px #888 ;
    margin-bottom: 7px;
}

.shadow {
    padding: 10px;
    border: 1px solid #AAA;
    -webkit-box-shadow: 3px 3px 5px -2px #888 ;
    -moz-box-shadow: 3px 3px 5px -2px #888 ;
    box-shadow: 3px 3px 5px -2px #888 ;
    margin-bottom: 7px;
}

.top-right {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
}


.btn-file {
    position: relative;
    overflow: hidden;
}


.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}