<template name="collections">

    <h2>
        {{heading}}
    </h2>

    {{#each collections}}

        <div class="card my-card black-text" style="width: 100%">
            {{#if image_url }}
                <div class="card-image">
                    {{> image image_url=image_url makeLink=1 collectionId=_id }}
                </div>
            {{/if}}
            <div class="card-content my-card-content collection-go" style="cursor: pointer;">
                 <h4>
                    {{ name }}
                    {{#if isFollowed}}
                        <i class="fa fa-star-o tooltipped"
                           data-tooltip="Followed"
                           data-position="bottom"></i>
                    {{/if}}

                    {{#unless readPublic}}
                        <span>
                            <i class="fa fa-eye-slash tooltipped"
                               data-tooltip="Private"
                               data-position="bottom"></i>
                        </span>
                    {{/unless}}

                    {{#if isInGallery}}
                        <span>
                            <i class="fa fa-th-large tooltipped"
                               data-tooltip="In Gallery"
                               data-position="bottom"></i>
                        </span>
                    {{/if}}
                </h4>

                {{{ description }}}

                {{#if description}}
                    <div style="height: 10px;"></div>
                {{/if}}
            </div>
            <div class="card-action">
                <a href="#" class="collection-go">
                    <i class="fa fa-user"></i>
                    {{ creator }}
                </a>

                {{pluralize place_count "Place"}}
            </div>
        </div>

    {{/each}}
</template>