<template name="collection">

    {{#with collection}}

        <h2>
            {{ name }}

            <i class="fa fa-location-arrow pan-collection tooltipped"
                      data-tooltip="Center"
                      data-position="top"
                      style="cursor:pointer;"></i>
        </h2>

        {{#if description}}
            <div class="form-group">{{{ description }}}</div>
        {{/if}}

        {{> image image_url=image_url }}

        {{#if image_url}}
            <div style="height: 15px;"></div>
        {{/if}}

        <div class="form-group">

            {{#if placeList}}
            {{#if currentUser }}
                <span style="position: relative;">
                    <a class='dropdown-button btn btn-primary' 
                        href='#' 
                        data-beloworigin="true" 
                        data-activates='drop-sort' 
                        data-hover="true">
                        <i class="fa fa-sort-amount-asc"></i>
                    </a>

                    <ul id='drop-sort' class='dropdown-content'>
                        {{#each sortTypes}}
                            <li>
                                <a class="sort-by"
                                   id="{{this}}"
                                   href="">
                                    {{this}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </span>
            {{/if}}
            {{/if}}

            {{#if currentUser }}
                <span class="tooltipped"
                      data-tooltip="Recent"
                      data-position="top">
                    <a class="recent-go">
                        <button class="btn btn-primary">
                            <i class="fa fa-clock-o"></i>
                        </button>
                    </a>
                </span>
            {{/if}}

            {{#if writePermission}}

                <span>
                    <a class="edit-link">
                        <button class="btn btn-sm btn-primary tooltipped"
                                data-tooltip="Edit"
                                data-position="top">
                            <i class="fa fa-edit"></i>
                        </button>
                    </a>
                </span>

            {{/if}}

            {{#if followable }}

                <span>
                    <a class="follow">
                        <button class="btn btn-floating tooltipped"
                                data-tooltip="Follow"
                                data-position="top">
                            <i class="fa fa-star"></i>
                        </button>
                    </a>
                </span>

            {{/if}}

            {{#if followed }}

                <span>
                    <a class="unfollow">
                        <button class="btn btn-floating tooltipped"
                                data-tooltip="Unfollow"
                                data-position="top">
                            <i class="fa fa-star-o"></i>
                        </button>
                    </a>
                </span>

            {{/if}}

        </div>
    
        <!-- display a line of collection attributes (dates and such) -->

        <div class="form-group">

            <span>
                <i class="fa fa-user"></i>
                {{ creator }}
            </span>

            <span> //

                <i class="fa fa-comment"></i>

                {{#if enable_advanced_controls}}
                    {{ placesLoadedCount }} of 
                {{/if}}

                {{pluralize place_count "Place"}}
            </span>

        </div>

        {{#if enable_advanced_controls}}

            <div class="row">
                <div class="col s6 center-align">
                    <div class="switch form-group">
                        <label>
                            Auto-load:<br>
                            Off
                            <input type="checkbox"
                                   id="enable-auto-load"
                                {{autoLoadEnabled}}>
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div class="col s6 center-align" style="margin-top: 8px;">
                    <span class="btn load_more tooltipped"
                      data-tooltip="100 More Places"
                      data-position="top">More</span>
                </div>
            </div>

            <div class="form-group">

                <label>
                    Active filter:
                </label>

                <select id="activeFilter" class="browser-default">
                    {{#each filters}}
                        <option value="{{this}}" {{filterSelected}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
        {{/if}}

        {{#if enableMultiTheme}}

            <label>
                Active theme:
            </label>

            <br>

            <div class="form-group">
                <div>
                    <select id="theme_name_picker" class="browser-default">
                        {{#each themeNames}}
                            <option value="{{this}}" {{themeSelected}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

        {{/if}}

    {{/with}}

    {{#if placeList}}
        {{#each places}}

            {{> quick_place }}

        {{/each}}
    {{else}}
        <a class="show-list" style="cursor: pointer;">Show list of places</a>

        {{#if renderActiveFeature}}
            <div class="card my-card black-text quick-place" style="width: 100%">
                <div class="my-card-content card-content">
                    {{{renderActiveFeature}}}
                </div>
            </div>
        {{/if}}
    {{/if}}


    {{#unless collection.creatorUID }}

        <div>
            <h2 align="center">
                Collection is missing. <br> Perhaps collection has been deleted?
            </h2>
        </div>

    {{/unless}}

</template>

