<template name="collections">

    <h2>
        Collections
    </h2>

    {{#each collections}}
    <div class="shadow">
        <div class="home-content">
        <div>
            <h4>
                <a href="#" class="collection-go">
                    {{ name }}
                </a>

                <span>
                    {{#if mapPublic }}
                        <span>
                            <i class="fa fa-circle"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Public Place Contributions"></i>
                        </span>
                    {{/if}}

                    {{#if postPublic }}
                        <span>
                            <i class="fa fa-circle-o"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Public Discussion"></i>
                        </span>
                    {{/if}}
                    {{#if readPublic }}
                        <span>
                            <i class="fa fa-circle-thin"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Public Readable"></i>
                        </span>
                    {{else}}
                        <span>
                            <i class="fa fa-eye-slash"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Invitation Only"></i>
                        </span>
                    {{/if}}
               </span>
            </h4>
            {{{ description }}}
        </div>

        <div>
            <small>
            <span>
                <a href="#" class="profile-go">
                    <i class="fa fa-user"></i>
                    {{ creator }}
                </a>
            </span>

            <span> //
                <i class="fa fa-calendar"></i>
                {{ formatDate createDate }}
            </span>

            <span> //
                <i class="icon-comment"></i>
                 {{ formatNumber place_count }} Places
            </span>

            </small>
        </div>
        </div>
    </div>

    {{/each}}
</template>