<template name="collectionEdit">

    {{#with collection}}

        <h2>
            <i class="fa fa-edit"> Collection Edit</i>
        </h2>


        <div class="form-group">

            <a class="cancel">
                <button class="btn btn-sm btn-primary tooltipped"
                        data-tooltip="Collection"
                        data-position="top">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </a>

            <a class="delete-link">
                <button class="btn tooltipped"
                        data-tooltip="Delete"
                        data-position="top">
                    <i class="fa fa-trash"></i>
                </button>
            </a>

            <span>
                <a class="save-location">
                    <button class="btn btn-sm btn-primary tooltipped"
                            data-tooltip="Set Default Map"
                            data-position="top">
                        <i class="fa fa-location-arrow"></i>
                    </button>
                </a>
            </span>

        </div>

    
        <div class="form-group">
            <label>Collection Name:</label>

            <input type="text"
                   name="name"
                   value="{{name}}"
                   class="form-control"/>
        </div>

        <div class="form-group">
            <button class="btn btn-sm btn-primary pick-image tooltipped"
                    data-tooltip="Add Image"
                    data-position="top">
                <i class="fa fa-image"></i>
            </button>

            {{#if image_url}}
                <button class="btn btn-sm btn-primary remove-image tooltipped"
                        data-tooltip="Remove Image"
                        data-position="top">
                    <i class="fa fa-times"></i>
                </button>
            {{/if}}
        </div>


        {{> image image_url=image_url }}


        {{#if image_url}}
            <div style="height: 15px;"></div>
        {{/if}}


        <div class="form-group">
            <label>Collection Description:</label>
            <div id="editable">
            </div>
        </div>

        <div class="form-group">

             <label>
                Base map:
            </label>

            <br>

            <div>
                <select id="basemap" class="browser-default">
                    {{#each baseMaps}}
                        <option {{basemapSelected}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">

            {{#unless expertConfiguration}}

                <a class="toggle-expert">
                    <button class="btn btn-sm btn-primary tooltipped"
                            data-tooltip="More Options"
                            data-position="top">
                        <i class="fa fa-arrow-down"></i>
                    </button>
                </a>

            {{ else }}

                <a class="toggle-expert">
                    <button class="btn btn-sm btn-primary tooltipped"
                            data-tooltip="Fewer Options"
                            data-position="top">
                        <i class="fa fa-arrow-up"></i>
                    </button>
                </a>

            {{/unless}}

            <span>
                <a class="permissions-link">
                    <button class="btn btn-sm btn-primary tooltipped"
                            data-tooltip="Permissions"
                            data-position="top">
                        <i class="fa fa-eye-slash"></i>
                    </button>
                </a>
            </span>

            {{#if isGallery}}
                <span>
                    <a class="gallery-link">
                        <button class="btn btn-sm btn-primary tooltipped"
                                data-tooltip="Remove from Gallery"
                                data-position="top">
                            <i class="fa fa-th-large"></i>
                        </button>
                    </a>
                </span>
            {{else}}
                <span>
                    <a class="gallery-link">
                        <button class="btn btn-sm btn-primary tooltipped"
                                data-tooltip="Add to Gallery"
                                data-position="top">
                            <i class="fa fa-th-large"></i>
                        </button>
                    </a>
                </span>
            {{/if}}

            <span>
                <a class="export-go">
                    <button class="btn btn-sm btn-primary tooltipped"
                            data-tooltip="Download CSV (alt-click for geojson)"
                            data-position="top">
                        <i class="fa fa-arrow-circle-o-down"></i>
                    </button>
                </a>
            </span>

        </div>


        {{#if expertConfiguration}}

            <div>

                <label>Custom Place Template (for Place Detail):</label>
                <textarea id="place-template"
                          class="materialize-textarea"
                          rows="4">{{place_template}}</textarea>

                <br>

                <a class="place-template-sample">
                    <button class="btn btn-sm btn-primary tooltipped"
                            data-tooltip="Test Template"
                            data-position="top">
                        <i class="fa fa-eye"></i>
                    </button>
                </a>

                <a class="place-template-json">
                    <button class="btn btn-sm btn-primary tooltipped"
                            data-tooltip="JSON"
                            data-position="top">
                        <i class="fa fa-code"></i>
                    </button>
                </a>

            </div>

            <br>

            {{#unless disablePlaceListChecked}}
            <div>

                <label>Custom Place Template (for Place List):</label>
                <textarea id="place-template-list"
                          class="materialize-textarea"
                          rows="4">{{place_template_list}}</textarea>

                <br>

                <a class="place-template-list-sample">
                    <button class="btn btn-sm btn-primary tooltipped"
                            data-tooltip="Test Template"
                            data-position="top">
                        <i class="fa fa-eye"></i>
                    </button>
                </a>

            </div>

            <br>
            {{/unless}}

            <div>

                <label>Custom Place Template (for Label Box):</label>
                <textarea id="place-template-label"
                          class="materialize-textarea"
                          rows="4">{{place_template_label}}</textarea>

                <br>

                <a class="place-template-label-sample">
                    <button class="btn btn-sm btn-primary tooltipped"
                            data-tooltip="Test Template"
                            data-position="top">
                        <i class="fa fa-eye"></i>
                    </button>
                </a>

            </div>

            <br>

            <div>

                <label>Custom Form for Data Collection (uses
                    <a href="http://autoform.meteor.com/quickform" target="_blank">
                            Autoform</a>):</label>

                    <textarea id="place-autoform"
                              class="materialize-textarea"
                              rows="4">{{place_autoform}}</textarea>
                <br>

                <a class="place-autoform-sample">
                    <button class="btn btn-sm btn-primary tooltipped"
                            data-tooltip="Test Template"
                            data-position="top">
                        <i class="fa fa-eye"></i>
                    </button>
                </a>

            </div>

            <br>

            {{#if enableAdvancedControls}}

                <div class="form-group">
                    <label>Filter name:</label>

                    <input type="text"
                           id="filter-name"
                           class="form-control"/>

                    <label>Filter:</label>

                    <input type="text"
                           id="filter"
                           class="form-control"/>

                    <span class="btn new-filter">Save Filter</span>
                </div>

                <div class="form-group">

                    <label>Filters:</label>

                    <select id="current-filter" class="browser-default">
                        {{#each filters}}
                            <option value="{{this}}" {{themeSelected}}>{{this}}</option>
                        {{/each}}
                    </select>

                    {{#if currentFilter}}
                        <label>Current Value:</label>

                        <input type="text" id="current-value" value="{{currentFilter}}">
                    {{/if}}

                    <br>

                    <span class="btn delete-filter">Delete Filter</span>
                </div>

            {{/if}}

            {{#if enableMultiTheme}}
                <div class="form-group">
                    <label>Theme Name:</label>

                    <input type="text"
                           id="theme-name"
                           class="form-control"/>

                    <span class="btn new-theme">New Theme</span>
                </div>

                {{#unless hideThemeFunctions}}

                    <div class="form-group">
                        <div>
                            <select id="theme-name-picker" class="browser-default">
                                {{#each themeNames}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                {{/unless}}

                {{#if activeTheme}}
                    <div>
                        <span class="btn delete-theme">Delete Theme</span><br><br>
                    </div>
                {{/if}}
            {{/if}}

            {{#unless hideThemeFunctions}}

            {{#unless enable_gl}}

            <label>Custom Theming Functions ({{ceditMode}}):</label>

            {{#if iconMode}}
                <textarea rows="4"
                          class="materialize-textarea"
                          id="icon_f">{{currentIconF}}</textarea>
            {{/if}}

            {{#if iconSizeMode}}
                <textarea rows="4"
                          class="materialize-textarea"
                          id="icon_size_f">{{currentIconSizeF}}</textarea>
            {{/if}}

            {{#if iconColorMode}}
                <textarea rows="4"
                          class="materialize-textarea"
                          id="color_f">{{currentColorF}}</textarea>
            {{/if}}

            <div>
                <button class="btn tooltipped" id="Icon"
                        data-tooltip="Theme Place Icon"
                        data-position="top">Icon</button>
                <button class="btn tooltipped" id="Size"
                        data-tooltip="Theme Place Size"
                        data-position="top">Size</button>
                <button class="btn tooltipped" id="Color"
                        data-tooltip="Theme Place Color"
                        data-position="top">Color</button>
            </div>
            {{else}}

                <label>Custom Theming Functions (Config Object):</label>            
                <textarea rows="4"
                          class="materialize-textarea"
                          id="config_obj">{{currentConfigObj}}</textarea>
            {{/unless}}

            <br>

            {{#if enableMultiTheme}}
                <div class="form-group">

                    <label>
                        Default Theme:
                    </label>

                    <br>

                    <div>
                        <select id="default-theme-picker" class="browser-default">
                            {{#each themeNames}}
                                <option value="{{this}}" {{themeSelected}}>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <br>
            {{/if}}

            {{/unless}}

            <div class="switch">
                <label>
                    Enable up- and down-voting:<br>
                    Off
                    <input type="checkbox"
                           id="enable-thumbs-voting"
                        {{enableThumbsVotingChecked}}>
                    <span class="lever"></span>
                    On
                </label>
            </div>

            <br>

            <div class="switch">
                
                <label>
                    Drop Markers:<br>
                    Off
                    <input type="checkbox"
                           id="drop-markers"
                           {{dropMarkersChecked}}>
                    <span class="lever"></span>
                    On
                </label>
            </div>

            <br>

            <div class="switch">
                <label>
                    Turn off geoindex:<br>
                    Off
                    <input type="checkbox"
                           id="disable-geoindex"
                        {{disableGeoindexChecked}}>
                    <span class="lever"></span>
                    On
                </label>
            </div>

            <br>

            <div class="switch">
                <label>
                    Enable marker clustering:<br>
                    Off
                    <input type="checkbox"
                           id="enable-clustering"
                        {{enableClusteringChecked}}>
                    <span class="lever"></span>
                    On
                </label>
            </div>

            <br>

            <div class="switch">
                <label>
                    Disable place list:<br>
                    Off
                    <input type="checkbox"
                           id="disable-place-list"
                        {{disablePlaceListChecked}}>
                    <span class="lever"></span>
                    On
                </label>
            </div>

            <br>

            <div class="switch">
                <label>
                    Enable advanced controls:<br>
                    Off
                    <input type="checkbox"
                           id="enable-advanced-controls"
                        {{enableAdvancedControlsChecked}}>
                    <span class="lever"></span>
                    On
                </label>
            </div>

            <br>

            <div class="switch">
                <label>
                    Enable MapBox GL:<br>
                    Off
                    <input type="checkbox"
                           id="enable-gl"
                        {{enableGlChecked}}>
                    <span class="lever"></span>
                    On
                </label>
            </div>

            {{#if enable_gl}}

                <br>

                <div class="form-group">
                    <label>Min Zoom Level (for GL Source):</label>

                    <input type="text"
                           name="minzoom"
                           value="{{minzoom}}"
                           class="form-control"/>
                </div>

            {{/if}}

        {{/if}}

    {{/with}}

    <br>

</template>


<template name="myQuickForm">
    Hit enter to check for format errors and save data.
    <div class="container" style="width: 400px;">
        {{> quickForm
            id="placeEditQuickForm"
            autosave=true
            validation="blur"
            schema=quick_form
            buttonContent=false
            type="method-update"
            meteormethod="updatePlaceProperties"
            doc=placeDoc
        }}
    </div>
</template>

