<template name="collection">
    
    <h2>
        {{ collection.name }}

        <br>

        {{#if isOwner}}
            <span>
                <i class="fa fa-user"
                   data-toggle="tooltip"
                   data-placement="right"
                   title="You can edit other people's contributions (owner)"></i>
            </span>
        {{/if}}

        {{#if isPlaceWriter}}
            <span>
                <i class="fa fa-map-marker"
                   data-toggle="tooltip"
                   data-placement="right"
                   title="You can add places"></i>
            </span>
        {{/if}}

        {{#if isPostWriter}}
            <span>
                <i class="fa fa-comment"
                   data-toggle="tooltip"
                   data-placement="right"
                   title="You can make posts and comments"></i>
            </span>
        {{/if}}

        {{#if isReader}}
            <span>
                <i class="fa fa-eye"
                   data-toggle="tooltip"
                   data-placement="right"
                   title="You may observe the collection"></i>
            </span>
        {{/if}}
    </h2>

    <div>
    </div>

    {{#with collection}}

        {{{ description }}}
    
        <!-- display a line of collection attributes (dates and such) -->

        <div class="form-group">
            <span>
                {{#if creatorUID }}
                    <a href="#" class="profile-go">
                        <i class="fa fa-user"></i>
                        {{ creator }}
                    </a>
                {{else}}
                    <i class="fa fa-user"></i>
                    {{ creator }}
                {{/if}}
            </span>

            <span> //
                <i class="fa fa-calendar"></i>
                {{ formatDate createDate }}
            </span>

            <br>

            <span>
                <i class="fa fa-trophy"></i>
                {{ pluralize votes "Vote" }}
            </span>

            <br>

            <span>
                {{ formatNumber visible_places_count }} shown,
                {{ formatNumber places_loaded_count }} loaded,
                out of {{ formatNumber place_count }} Places
            </span>

            <br>

            <span>
                {{#if exceeds_place_limit }}
                    More places are available, zoom in for more places.
                {{else}}
                    All places in visible area are available.
                {{/if}}
            </span>

        </div>

        {{#if write_permission }}

            <div class="form-group">

                <span>
                    <a class="edit-link">
                        <button class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                            Edit
                        </button>
                    </a>
                </span>

                <span>
                    <a class="permissions-link">
                        <button class="btn btn-primary">
                            <i class="fa fa-eye-slash"></i>
                            Permissions
                        </button>
                    </a>
                </span>

                <span>
                    <button class="btn btn-primary pan-collection">
                        <i class="fa fa-location-arrow"></i>
                        Go
                    </button>
                </span>

            </div>

        {{/if}}

        <div class="form-group">

            {{#if followable }}

                <span>
                    <a class="follow">
                        <button class="btn btn-primary">
                            <i class="fa fa-star"></i>
                            Follow
                        </button>
                    </a>
                </span>

            {{/if}}

            {{#if followed }}

                <span>
                    <a class="unfollow">
                        <button class="btn btn-primary">
                            <i class="fa fa-star-o"></i>
                            Unfollow
                        </button>
                    </a>
                </span>

            {{/if}}

            <span>
                {{> vote type="collection" _id=_id }}
            </span>

            <span>
                <a class="recent-go">
                    <button class="btn btn-primary">
                        <i class="fa fa-clock-o"></i>
                        Recent
                    </button>
                </a>
            </span>

        </div>

    {{/with}}


    <div class="alternate-colors">

        {{#each places}}

            {{> quick_place }}

        {{/each}}

    </div>


    {{#unless collection.creator }}

        <div>
            <h2 align="center">
                Collection is missing. <br> Perhaps collection has been deleted?
            </h2>
        </div>

    {{/unless}}

</template>

