<template name="collectionEdit">

    {{#with collection}}

        <h2>
            Collection Edit
        </h2>
    
        <div class="form-group">
            <label>Collection Name:</label>

            <input type="text"
                   name="name"
                   value="{{name}}"
                   class="form-control"/>
        </div>

        <div class="form-group">
            <textarea id="editable">
                {{description}}
            </textarea>
        </div>

        <div class="form-group">

            <a class="save-location">
                <button class="btn btn-default">
                    <i class="fa fa-location-arrow"></i>
                    Set Collection View
                </button>
            </a>

            &nbsp;-&nbsp;

            {{#if location}}

                {{ locationDisplay }}

            {{else}}

                No Collection View Set

            {{/if}}

        </div>


        <div class="form-group">

            <a class="cancel">
                <button class="btn btn-primary">
                    <i class="fa fa-arrow-left"></i>
                    Collection
                </button>
            </a>
            &thinsp;

            <a class="delete-link">
                <button class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    Delete
                </button>
            </a>
            &thinsp;

            {{#unless expertConfiguration}}

                <a class="toggle-expert">
                    <button class="btn btn-primary">
                        <i class="fa fa-arrow-down"></i>
                        More
                    </button>
                </a>

            {{ else }}

                <a class="toggle-expert">
                    <button class="btn btn-primary">
                        <i class="fa fa-arrow-up"></i>
                        Less
                    </button>
                </a>

            {{/unless}}

        </div>


        {{#if expertConfiguration}}

            <br>

            <div class="form-group">
                <label>Flickr Album Link:</label><br>
                <input id="flickr_link" class="form-control" type="text" placeholder="{{flickr_link}}"/>
            </div>

            <div>

                <label>Custom Place Template (for Place Detail):</label>
                <textarea id="place-template"
                          class="form-control"
                          rows="4">{{place_template}}</textarea>

                <br>

                <a class="place-template-sample">
                    <button class="btn btn-primary">
                        <i class="fa fa-eye"></i>
                        Test
                    </button>
                </a>

                <a class="place-template-json">
                    <button class="btn btn-primary">
                        <i class="fa fa-code"></i>
                        Json
                    </button>
                </a>

            </div>

            <br>

            <div>

                <label>Custom Place Template (for Place List):</label>
                <textarea id="place-template-list"
                          class="form-control"
                          rows="4">{{place_template_list}}</textarea>

                <br>

                <a class="place-template-list-sample">
                    <button class="btn btn-primary">
                        <i class="fa fa-eye"></i>
                        Test
                    </button>
                </a>

            </div>

            <br>

            <label>Custom Theming Functions ({{cedit_mode}}):</label>

            {{#if icon_mode}}
                <textarea rows="4"
                          class="form-control"
                          id="icon_f">{{icon_f}}</textarea>
            {{/if}}

            {{#if icon_size_mode}}
                <textarea rows="4"
                          class="form-control"
                          id="icon_size_f">{{icon_size_f}}</textarea>
            {{/if}}

            {{#if icon_color_mode}}
                <textarea rows="4"
                          class="form-control"
                          id="color_f">{{color_f}}</textarea>
            {{/if}}
            <br>

            <div class="btn-group"
                 data-toggle="buttons-radio"
                 id="my_radiogroup">
                <button type="radio"
                        class="btn btn-primary cedit_mode"
                        name="cedit_mode"
                        value="Icon">
                    Icon
                </button>
                <button type="radio"
                        class="btn btn-primary cedit_mode"
                        name="cedit_mode"
                        value="Size">
                    Icon Size
                </button>
                <button type="radio"
                        class="btn btn-primary cedit_mode"
                        name="cedit_mode"
                        value="Color">
                    Icon Color
                </button>
            </div>

            <br><br>

            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           id="drop-markers"
                           {{drop_markers_checked}}>
                           Drop Markers
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           id="disable-geoindex"
                        {{disable_geoindex_checked}}>
                    Turn off geoindex
                </label>
            </div>

        {{/if}}

    {{/with}}

    <br>

</template>

