<template name="collection">

    {{#with collection}}

        <h2>
            {{ name }}

            <i class="fa fa-location-arrow pan-collection" style="cursor:pointer;"></i>
        </h2>

        {{{ description }}}

        {{> image image_url=image_url }}

        <div class="form-group">

            <span>

                <a class='dropdown-button btn' href='#' data-activates='drop-sort'>
                    <i class="fa fa-sort-amount-asc"></i>
                </a>

                <ul id='drop-sort' class='dropdown-content'>
                    {{#each sortTypes}}
                        <li>
                            <a class="sort-by"
                               id="{{this}}"
                               href="">
                                {{this}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </span>

            {{#if currentUser }}
                <span>
                    <a class="recent-go">
                        <button class="btn btn-sm btn-primary">
                            <i class="fa fa-clock-o"></i>
                        </button>
                    </a>
                </span>
            {{/if}}

            {{#if followable }}

                <span>
                    <a class="follow">
                        <button class="btn btn-sm btn-primary">
                            <i class="fa fa-star"></i>
                            Follow
                        </button>
                    </a>
                </span>

            {{/if}}

            {{#if followed }}

                <span>
                    <a class="unfollow">
                        <button class="btn btn-sm btn-primary">
                            <i class="fa fa-star-o"></i>
                            Unfollow
                        </button>
                    </a>
                </span>

            {{/if}}

            {{#if write_permission}}

                <span>
                    <a class="edit-link">
                        <button class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i>
                        </button>
                    </a>
                </span>

            {{/if}}

        </div>

        {{#if 0}}
        <div>

            {{#if isOwner}}
                <span>
                    <i class="fa fa-2x fa-user"
                       data-toggle="tooltip"
                       data-placement="right"
                       title="You can edit other people's contributions (owner)"></i>
                </span>
            {{/if}}

            {{#if isPlaceWriter}}
                <span>
                    <i class="fa fa-2x fa-map-marker"
                       data-toggle="tooltip"
                       data-placement="right"
                       title="You can add places"></i>
                </span>
            {{/if}}

            {{#if isPostWriter}}
                <span>
                    <i class="fa fa-2x fa-comment"
                       data-toggle="tooltip"
                       data-placement="right"
                       title="You can make posts and comments"></i>
                </span>
            {{/if}}

            {{#if isReader}}
                <span>
                    <i class="fa fa-2x fa-eye"
                       data-toggle="tooltip"
                       data-placement="right"
                       title="You may observe the collection"></i>
                </span>
            {{/if}}

        </div>
        {{/if}}
    
        <!-- display a line of collection attributes (dates and such) -->

        <div class="form-group">
            <span>
                {{#if creatorUID }}
                    <a href="#" class="profile-go">
                        <i class="fa fa-user"></i>
                        {{ creator }}
                    </a>
                {{else}}
                    <i class="fa fa-user"></i>
                    {{ creator }}
                {{/if}}
            </span>

            <span> //
                <i class="fa fa-comment"></i>
                {{pluralize place_count "Place"}}
            </span>

            <span> //
                <i class="fa fa-trophy"></i>
                {{ pluralize votes "Vote" }}
            </span>

            {{#if isPostWriter }}
                <span>
                    {{> vote type="collection" _id=_id }}
                </span>
            {{/if}}

        </div>

        {{#if 0}}
        <div class="form-group">

            <span>
                {{ formatNumber visible_places_count }} visible
                out of {{ formatNumber place_count }} total places
            </span>

            <br>

            <span>
                {{#if exceeds_place_limit }}
                    More places are available, zoom in for more places.
                {{else}}
                    All places in visible area are available.
                {{/if}}
            </span>

        </div>
        {{/if}}

    {{/with}}

    {{#unless viewPlaces }}

        <div class="form-group">
            <span class="btn btn-primary view-place-list">
                View Place List
            </span>
        </div>

    {{else}}

        <div class="alternate-colors">

            {{#each places}}

                {{> quick_place }}

            {{/each}}

        </div>

    {{/unless}}


    {{#unless collection.creator }}

        <div>
            <h2 align="center">
                Collection is missing. <br> Perhaps collection has been deleted?
            </h2>
        </div>

    {{/unless}}

</template>

