<template name="collections">

    <h2>
        Collections
    </h2>

    <div class=form-group>
        <h4>
            {{#if myCollections}}
                Mine
            {{else}}
                <a href="#" class="my-collections">Mine</a>
            {{/if}} |
            {{#if followedCollections}}
                Followed
            {{else}}
                <a href="#" class="followed-collections">Followed</a>
            {{/if}} |
            {{#if publicCollections}}
                Public
            {{else}}
                <a href="#" class="public-collections">Public</a>
            {{/if}}
        </h4>
    </div>

    {{#each collections}}

        <div class="card black-text" style="width: 100%">
            {{#if image_url }}
                <div class="card-image">
                    {{> image image_url=image_url makeLink=1 collectionId=_id }}
                </div>
            {{/if}}
            <div class="card-content collection-go" style="cursor: pointer;">
                 <h4>
                    {{ name }} 

                    {{#unless readPublic}}
                        <span>
                            <i class="fa fa-eye-slash"></i>
                        </span>
                    {{/unless}}
                </h4>

                {{{ description }}}
            </div>
            <div class="card-action">
                <a href="#" class="profile-go">
                    <i class="fa fa-user"></i>
                    {{ creator }}
                </a>

                {{pluralize place_count "Place"}}
            </div>
        </div>

        <div style="height: 10px;"></div>

    {{/each}}
</template>