<template name="import">
    <div>
        Let's keep in simple.  For now you can only import geojson files or
        shapefiles.  For a shapefile, put all the different  files
        (.prj, .dbf, etc) in a single .zip file.  Upload it here and we will
        create a new collection for you with the shapes from that shapefile.

        <br><br>

        <b>
            WARNING: I think there's something wrong with shapefile coordinate system
            transformation.  If you're using lat/lng for either shapefile or geojson
            you will be ok.  I will add csv import soon as well.
        </b>

        <br><br>

        <span class="btn btn-primary btn-file">
            Upload shapefile <input id="shapeUpload" type="file">
        </span>
    </div>
</template>