<template name="permissions">

    {{#with collection}}

        <h2>
            Permissions
        </h2>

        <div class="form-group">
            <a class="collection-go">
                <button class="btn btn-primary btn-sm">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </a>
        </div>

        <div>
            <h2 class="hide-on-small-only">
                <a href="#" id="Owners">Own</a> |
                <a href="#" id="Placers">Place</a> |
                <a href="#" id="Posters">Post</a> |
                <a href="#" id="Readers">Read</a>
            </h2>

            <h3 class="hide-on-med-and-up"><b>
                <a href="#" id="Owners">Own</a> |
                <a href="#" id="Placers">Place</a> |
                <a href="#" id="Posters">Post</a> |
                <a href="#" id="Readers">Read</a>
            </b></h3>
        </div>

        <br>

        {{#if is_public }}

            This collection is public for all
            <i>{{permission_type}}</i>.

            <br><br>

            Make this collection
            <button class="btn btn-sm btn-success make-private">
                private
            </button>

            for all <i>{{permission_type}}</i>.

        {{else}}

            {{#if list_exists }}

                Below is the list of <i>{{permission_type}}</i>
                that have permission to edit this collection.

                <br>

                {{#each usersInList }}

                    <div style="padding-top: 6px;">

                        <a class="delete-link">
                            <button id="{{.}}" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"></i>
                                Remove
                            </button>
                        </a>

                        {{ userName }}
                    </div>

                {{/each}}

            {{else}}

                <div>
                    No <i>{{permission_type}}</i>
                    have been added to this collection.
                </div>

            {{/if}}

            <br>

            <div>

                Add <i>{{permission_type}}</i> by emailing this

                <button class="btn btn-sm btn-success"
                        id="copy-link">
                    link
                </button> to collaborators.

                <br><br>

                <button class="btn btn-sm btn-success"
                        id="new-link">
                    Generate
                </button> a new link and invalidate all past links.

            </div>


            {{#if public_ok}}

                <br>

                <div>

                    Click to make this collection

                    <button class="btn btn-sm btn-success make-public">
                        public
                    </button>

                    for all <i>{{permission_type}}</i>.
                </div>

            {{/if}}

            {{#if loginreq_ok}}

                {{#unless loginreq}}

                    <br>

                    <div>

                        Click to

                        <button class="btn btn-sm btn-success make-loginreq">
                            require
                        </button>

                        login for read access

                    </div>

                {{else}}

                    <br>

                    <div>

                        Click to

                        <button class="btn btn-sm btn-success disable-loginreq">
                            disable
                        </button>

                        login required for read access
                    </div>

                {{/unless}}

            {{/if}}

        {{/if}}

    {{/with}}

    {{#unless collection.creatorUID }}

        <div>
            <h2 align="center">
                Collection is missing. <br> Perhaps collection has been deleted?
            </h2>
        </div>

    {{/unless}}

    <br><br>

</template>
