<template name="placeEdit">
{{#with place}}
    <h2>
        <i class="fa fa-edit"> Place Edit</i>
    </h2>

    <div class="form-group">

        <div class="form-group">

            <a class="cancel">
                <button class="btn btn-sm btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </a>

            <a class="delete-link">
                <button class="btn btn-sm btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </a>

            <a class="show-json">
                <button class="btn btn-sm btn-primary">
                    <i class="fa fa-code"></i>
                </button>
            </a>

            {{#if autoFormExists }}

                <a class="open-qf">
                    <button class="btn btn-sm btn-primary">
                        <i class="fa fa-database"></i>
                    </button>
                </a>

            {{/if}}
        </div>

    </div>

    <div class="form-group">

        <label for="name">
            Place Name:
        </label>

        <input class="form-control"
               type="text"
               name="name"
               value="{{properties.name}}"/>

    </div>

    <div class="form-group">
        <button class="btn btn-sm btn-primary pick-image">
            <i class="fa fa-image"></i>
        </button>

        {{#if properties.image_url}}
            <button class="btn btn-sm btn-primary remove-image">
                <i class="fa fa-times"></i>
            </button>
        {{/if}}
    </div>

    {{> image image_url=properties.image_url }}

    {{#if properties.image_url}}
        <div style="height: 15px;"></div>
    {{/if}}

    <div class="form-group">
        <label>Place Description:</label>
        <div id="editable">
        </div>
    </div>

    <div class="form-group">

        <label for="shape-color">
            Shape Color:
        </label>

        <input id="shape-color"
               class="pick-a-color more-pick-a-color">
    </div>

    {{#if isMarker}}

        <div class="form-group">

             <label>
                Marker Icon:
            </label>

            <br>

            <div>
                <select id="icons" class="browser-default">
                    {{#each icons}}
                        <option {{iconSelected}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">

            <label>
                Marker Size:
            </label>

            <br>

            <div>
                <select id="icon_size" class="browser-default">
                    {{#each icon_sizes}}
                        <option {{sizeSelected}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>

        </div>

    {{/if}}

    {{#if isLine}}

        <div class="form-group">

            <label>
                Line Width:
            </label>

            <br>

            <select id="line_width" class="browser-default">
                {{#each line_widths}}
                    <option {{widthSelected}}>{{name}}</option>
                {{/each}}
            </select>

        </div>

    {{/if}}

{{/with}}

{{#unless place }}

    <div>
        <h2 align="center">
            Place is missing. <br> Perhaps place has been deleted?
        </h2>
    </div>

{{/unless}}
</template>
