<template name="place">
{{#with place}}

    <div>

        {{{ dynamicPlace }}}

        {{{ properties.description }}}

        <div class="form-group">

            <span>
                {{#unless creatorUID}}
                    <i class="fa fa-user"></i>
                    {{ creator }}
                {{else}}
                    <a href="#" class="profile-go">
                        <i class="fa fa-user"></i>
                        {{ creator }}
                    </a>
                {{/unless}}
            </span>

            <span> //
                <i class="fa fa-calendar"></i>
                {{ formatDate dateField }}
            </span>

            <br>

            <span>
                <i class="fa fa-comment"></i>
                {{ postCount }}
            </span>

            <span> //
                <i class="fa fa-trophy"></i>
                {{ pluralize votes "Vote" }}
            </span>

        </div>
    </div>


    <div class="form-group">

        <a class="collection-go">
            <button class="btn btn-primary">
                <i class="fa fa-arrow-left"></i>
                Collection
            </button>
        </a>


        {{#if writePermission }}

            <button class="btn btn-primary edit-link">
                <i class="fa fa-edit"></i>
                Edit
            </button>

        {{/if}}

        <button class="btn btn-primary pan-map">
            <i class="fa fa-location-arrow"></i>
            Go
        </button>

    </div>

{{/with}}

{{#if place}}

    {{#if currentUser }}

        <div class="dropdown">

            <span>
                {{> vote type="place" _id=place._id }}
            </span>

            <button class="btn btn-primary dropdown-toggle copy-to"
                    data-toggle="dropdown">
                <i class="fa fa-copy"></i>
                Copy to
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                {{#each myCollections}}
                    <li role="presentation">
                        <a role="menuitem"
                           class="do-copy"
                           id="{{_id}}"
                           cid="{{cid}}"
                           href="#">
                            {{name}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>

        {{#if anyPlaceInstances}}
        <div>
            <br>
            Collections this place is a member of:

            {{#each allPlaceInstances}}

                <div>

                    {{#unless isThisCollection}}

                        <a class="place-go" href="#">
                            <i class="fa fa-th"></i>
                            {{ collectionName }}
                        </a>

                    {{else}}

                        <span>
                            <i class="fa fa-th"></i>
                            {{ collectionName }}
                        </span>

                    {{/unless}}

                    <span> //
                        <i class="fa fa-comment"></i>
                        {{pluralize post_count "Post"}}
                    </span>
                </div>

            {{/each}}
        </div>
        {{/if}}

    {{/if}}

    <hr>

    {{#if noPosts }}

        There are no topics on this place - add one below.

    {{else}}

        {{#each posts }}

            {{> quick_post }}

            <a class="read-more">
                <button class="btn btn-success">

                    <i class="fa fa-book"></i>
                    Read More

                </button>
            </a>

        {{/each}}

    {{/if}}
{{/if}}

{{#with place }}

    <hr>

    {{#unless newTopic}}

        {{#unless currentUser }}

            <div>
                <h3>
                    Login to add a topic
                </h3>
            </div>

        {{else}}

            {{#unless postPermission}}

                <div>
                        Contact collection admin to get post writing permission.
                </div>
                <br>

            {{else}}

                <div>
                    <a class="new-topic">
                        <button class="btn btn-warning">
                            <i class="fa fa-file"></i>
                            New Topic
                        </button>
                    </a>
                </div>

            {{/unless}}

        {{/unless}}

    {{else}}

        <div>

            <div class="form-group">
                <input type="text"
                       id="title"
                       class="form-control"
                       placeholder="Title"/>
            </div>

            <div class="form-group">
                <textarea id="editable">
                </textarea>
            </div>

            <div>
                <button class="btn btn-success add-topic">
                    <i class="fa fa-plus-square-o"></i>
                    Add Topic
                </button>

                <button class="btn btn-default cancel">
                    <i class="fa fa-close"></i>
                    Cancel
                </button>
            </div>

        </div>

    {{/unless}}

{{/with}}

{{#unless place }}

    <div>
        <h2 align="center">
            Place is missing. <br> Perhaps place has been deleted?
        </h2>
    </div>

{{/unless}}
</template>