<template name="place">
{{#with place}}

    <div>

        {{{ dynamicPlace }}}

        {{{ properties.description }}}

        {{> image image_url=properties.image_url }}

    </div>


    <div class="form-group">

        <a class="collection-go">
            <button class="btn btn-primary btn-sm">
                <i class="fa fa-arrow-left"></i>
            </button>
        </a>

        {{#if writePermission }}

            <button class="btn btn-primary btn-sm edit-link">
                <i class="fa fa-edit"></i>
            </button>

        {{/if}}

        {{#if currentUser }}

            <span class="dropdown">

                <a class='dropdown-button btn' href='#' data-hover="true" data-beloworigin="true" data-activates='drop-copy'>
                    <i class="fa fa-copy"></i>
                </a>

                <ul id="drop-copy" class='dropdown-content'>
                    {{#each myCollections}}
                        <li>
                            <a class="do-copy truncate"
                               id="{{_id}}"
                               cid="{{cid}}"
                               href="#">
                                {{name}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </span>

        {{/if}}

    </div>

    <div class="form-group">

            <span>
                {{#unless creatorUID}}
                    <i class="fa fa-user"></i>
                    {{ creator }}
                {{else}}
                    <a href="#" class="profile-go">
                        <i class="fa fa-user"></i>
                        {{ creator }}
                    </a>
                {{/unless}}
            </span>

            <span> //
                <i class="fa fa-comment"></i>
                {{ pluralize post_count "Post" }}
            </span>

            <span> //
                <i class="fa fa-trophy"></i>
                {{ pluralize votes "Vote" }}
            </span>

        {{#if postPermission }}
            <span class="hide-on-small-only">
                {{> vote type="place" _id=_id }}
            </span>
        {{/if}}

    </div>

{{/with}}

{{#if place}}


        {{#if anyPlaceInstances}}
        <div>
            Collections this place is a member of:

            {{#each allPlaceInstances}}

                <div>

                    {{#unless isThisCollection}}

                        <a class="place-go" href="#">
                            <i class="fa fa-th"></i>
                            {{ collectionName }}
                        </a>

                    {{else}}

                        <span>
                            <i class="fa fa-th"></i>
                            {{ collectionName }}
                        </span>

                    {{/unless}}

                    <span> //
                        <i class="fa fa-comment"></i>
                        {{pluralize post_count "Post"}}
                    </span>
                </div>

            {{/each}}
        </div>
        {{/if}}

    {{#if noPosts }}

    {{else}}

        <hr>

        {{#each posts }}

            <div style="margin-bottom: 15px;">

                {{> quick_post }}

                <hr>

            </div>

        {{/each}}

    {{/if}}
{{/if}}

{{#with place }}

    {{#unless newTopic}}

        {{#unless currentUser }}

            {{#unless noNav}}

                <div>
                    <h4>
                        Login to add a topic
                    </h4>
                </div>

            {{/unless}}

        {{else}}

            {{#unless postPermission}}

                <div>
                    Contact collection admin to get post writing permission.
                </div>
                <br>

            {{else}}

                <div class="form-group">

                    <span class="hide-on-med-and-up form-group">
                        <span>
                            {{> vote type="place" _id=_id }}
                        </span>&nbsp;
                    </span>

                    <a class="new-topic">
                        <button class="btn btn-sm btn-warning">
                            <i class="fa fa-plus-square-o"></i>
                        </button>
                    </a>
                </div>

            {{/unless}}

        {{/unless}}

    {{else}}

        <div>

            <div class="form-group">
                <input type="text"
                       id="title"
                       class="form-control"
                       placeholder="Enter Comment Here"/>
            </div>

            <!--<div class="form-group">
                <button class="btn btn-sm btn-primary pick-image">
                    <i class="fa fa-image"></i>
                </button>

                {{#if post_image_url}}
                    <button class="btn btn-sm btn-primary remove-image">
                        <i class="fa fa-times"></i>
                    </button>
                {{/if}}
            </div>-->

            {{> image image_url=post_image_url }}

            <!--<div class="form-group">
                <div class="quill-wrapper">
                    {{> quill }}
                    <div id="full-editor" class="editor">
                    </div>
                </div>
            </div>-->

            <div>
                <button class="btn btn-sm btn-success add-topic">
                    <i class="fa fa-plus-square-o"></i>
                </button>

                <button class="btn btn-sm btn-default cancel">
                    <i class="fa fa-close"></i>
                </button>
            </div>

        </div>

    {{/unless}}

{{/with}}

{{#unless place }}

    <div>
        <h2 align="center">
            Place is missing. <br> Perhaps place has been deleted?
        </h2>
    </div>

{{/unless}}
</template>