<template name="placeEdit">
{{#with place}}
    <h2>
        Place Edit
    </h2>

    <div class="form-group">

        <div class="form-group">

            <a class="cancel">
                <button class="btn btn-sm btn-primary">
                    <i class="fa fa-arrow-left"></i>
                    Save
                </button>
            </a>

            <a class="delete-link">
                <button class="btn btn-sm btn-danger">
                    <i class="fa fa-trash"></i>
                    Delete
                </button>
            </a>

            <a class="show-json">
                <button class="btn btn-sm btn-primary">
                    <i class="fa fa-code"></i>
                    Json
                </button>
            </a>
        </div>

    </div>

    <div class="form-group">

        <label for="name">
            Place Name:
        </label>

        <input class="form-control"
               type="text"
               name="name"
               value="{{properties.name}}"/>

    </div>

    <div class="form-group">
        <button class="btn btn-sm btn-primary pick-image">
            <i class="fa fa-image"></i>
            Set Image
        </button>

        {{#if properties.image_url}}
            <button class="btn btn-sm btn-primary remove-image">
                Unset
            </button>
        {{/if}}
    </div>

    {{> image image_url=properties.image_url }}

    <div class="form-group">
        <textarea id="editable">
            {{properties.description}}
        </textarea>
    </div>

    {{#if autoFormExists }}

        <hr>

        {{> quick_form }}

        <hr>

    {{/if}}

    <div class="form-group">

        <label for="shape-color">
            Shape Color:
        </label>

        <input id="shape-color"
               class="pick-a-color more-pick-a-color">

    </div>

    {{#if isMarker}}

        <div class="form-group">

            <label for="icon">
                Marker Icon:
            </label>&nbsp;

            <select id="icons" class="form-control">
                {{#each icons}}
                    <option {{iconSelected}}>{{name}}</option>
                {{/each}}
            </select>

        </div>

        <div class="form-group">

            <label for="icon">
                Marker Size:
            </label>&nbsp;

            <select id="icon_size" class="form-control">
                {{#each icon_sizes}}
                    <option {{sizeSelected}}>{{name}}</option>
                {{/each}}
            </select>

        </div>

    {{/if}}

    {{#if isLine}}

        <div class="form-group">

            <label for="icon">
                Line Width:
            </label>&nbsp;

            <select id="line_width">
                {{#each line_widths}}
                    <option {{widthSelected}}>{{name}}</option>
                {{/each}}
            </select>

        </div>

    {{/if}}
{{/with}}

{{#unless place }}

    <div>
        <h2 align="center">
            Place is missing. <br> Perhaps place has been deleted?
        </h2>
    </div>

{{/unless}}
</template>
