<template name="place">
{{#with place}}

    <div>

        {{{ dynamicPlace }}}

        {{#if properties.description}}
            <div class="form-group">
                {{{ properties.description }}}
            </div>
        {{/if}}

        {{> image image_url=properties.image_url }}

    </div>

    {{#if properties.image_url}}
    <div style="height: 15px;"></div>
    {{/if}}


    <div class="form-group">

        <a class="collection-go">
            <button class="btn btn-primary btn-sm tooltipped"
                    data-tooltip="Collection"
                    data-position="top">
                <i class="fa fa-arrow-left"></i>
            </button>
        </a>

        {{#if writePermission }}

            <button class="btn btn-primary btn-sm edit-link tooltipped"
                    data-tooltip="Edit"
                    data-position="top">
                <i class="fa fa-edit"></i>
            </button>

            {{#if autoFormExists }}

                <a class="open-qf">
                    <button class="btn btn-sm btn-primary tooltipped"
                            data-tooltip="Survey"
                            data-position="top">
                        <i class="fa fa-database"></i>
                    </button>
                </a>

            {{/if}}

        {{/if}}

        {{#if expertMode}}
        {{#if currentUser }}

            <button class="btn btn-primary btn-sm open-copy tooltipped"
                    data-tooltip="Copy"
                    data-position="top">
                <i class="fa fa-copy"></i>
            </button>    

        {{/if}}
        {{/if}}

    </div>

    <div class="form-group">

            <span>
                {{#unless 0}}
                    <i class="fa fa-user"></i>
                    {{ creator }}
                {{else}}
                    <a href="#">
                        <i class="fa fa-user"></i>
                        {{ creator }}
                    </a>
                {{/unless}}
            </span>

            <span> //
                <i class="fa fa-comment"></i>
                {{ pluralize post_count "Comment" }}
            </span>

            {{#if enableThumbsVoting}}
            <span> //
                <i class="fa fa-trophy"></i>
                {{ pluralize votes "Vote" }}
            </span>
            {{/if}}

        {{#if postPermission }}
        {{#if enableThumbsVoting}}
            <span class="hide-on-small-only">
                {{> vote type="place" _id=_id }}
            </span>
        {{/if}}
        {{/if}}

    </div>

{{/with}}

{{#if place}}


        {{#if anyPlaceInstances}}
        <div class="form-group">
            Collections this place is a member of:

            {{#each allPlaceInstances}}

                <div>

                    {{#unless isThisCollection}}

                        <a class="place-go" href="#">
                            <i class="fa fa-th"></i>
                            {{ collectionName }}
                        </a>

                    {{else}}

                        <span>
                            <i class="fa fa-th"></i>
                            {{ collectionName }}
                        </span>

                    {{/unless}}

                    <span> //
                        <i class="fa fa-comment"></i>
                        {{pluralize post_count "Post"}}
                    </span>
                </div>

            {{/each}}
        </div>
        {{/if}}

    {{#if noPosts }}

    {{else}}

        <hr>

        {{#each posts }}

            <div style="margin-bottom: 15px;">

                {{> quick_post }}

                <hr>

            </div>

        {{/each}}

    {{/if}}
{{/if}}

{{#with place }}

    {{#unless newTopic}}

        {{#unless currentUser }}

            {{#unless noNav}}

                <div>
                    <h4>
                        <a href="#" class="login">Login to comment</a>
                    </h4>
                </div>

            {{/unless}}

        {{else}}

            {{#unless postPermission}}

                <div>
                    Contact collection admin to get post writing permission.
                </div>
                <br>

            {{else}}

                <div class="form-group">

                    {{#if enableThumbsVoting}}

                    <span class="hide-on-med-and-up form-group">
                        <span>
                            {{> vote type="place" _id=_id }}
                        </span>&nbsp;
                    </span>

                    {{/if}}

                    <a class="new-topic">
                        <button class="btn btn-sm btn-warning tooltipped"
                                data-tooltip="Comment"
                                data-position="top">
                            <i class="fa fa-plus-square-o"></i>
                        </button>
                    </a>
                </div>

            {{/unless}}

        {{/unless}}

    {{else}}

        <div>

            <div class="form-group">
                <input type="text"
                       id="title"
                       class="form-control"
                       placeholder="Enter Comment Here"/>
            </div>

            {{> image image_url=post_image_url }}

            <div>
                <button class="btn btn-sm btn-success add-topic tooltipped"
                        data-tooltip="Add"
                        data-position="top">
                    <i class="fa fa-plus-square-o"></i>
                </button>

                <button class="btn btn-sm btn-default cancel tooltipped"
                        data-tooltip="Cancel"
                        data-position="top">
                    <i class="fa fa-close"></i>
                </button>
            </div>

        </div>

    {{/unless}}

{{/with}}

{{#unless place }}

    <div>
        <h2 align="center">
            Place is missing. <br> Perhaps place has been deleted?
        </h2>
    </div>

{{/unless}}
</template>