<template name="post">
{{#with post}}

    {{> quick_post }}

    <div>
        <a class="place-go">
            <button class="btn btn-sm btn-primary">
                <i class="fa fa-arrow-left"></i>
                Place
            </button>
        </a>

        <a class="collection-go">
            <button class="btn btn-sm btn-primary">
                <i class="fa fa-arrow-left"></i>
                Collection
            </button>
        </a>

        {{#if writePermission}}

            <button class="btn btn-sm btn-primary edit-link">
                <i class="fa fa-edit"></i>
                Edit
            </button>

        {{/if}}
    </div>

{{/with}}

    <hr>

    <div>
    {{#if noComments }}

        There are no comments on this place.

        <hr>

    {{else}}

        {{#each comments }}


            {{> quick_comment }}

            <hr>

        {{/each}}

    {{/if}}
    </div>


    {{#unless newTopic}}


        {{#unless currentUser}}

            {{#unless noNav}}

                <div>
                    <h4>
                        Login to add a comment
                    </h4>
                </div>

            {{/unless}}

        {{else}}

        <div>
            <a class="new-topic">
                <button class="btn btn-sm btn-warning">
                    <i class="fa fa-file"></i>
                    New Comment
                </button>
            </a>
        </div>

        {{/unless}}

    {{else}}

        <div>

            <div class="form-group">
                <textarea id="editable"></textarea>
            </div>

            <div>
                <button class="btn btn-sm btn-success add-comment">
                    <i class="fa fa-plus-square-o"></i>
                    Add Comment
                </button>

                <button class="btn btn-sm btn-default cancel">
                    <i class="fa fa-close"></i>
                    Cancel
                </button>
            </div>

        </div>

    {{/unless}}

    {{#unless post.creatorUID }}

        <div>
            <h2 align="center">
                Post is missing. <br> Perhaps post has been deleted?
            </h2>
        </div>

    {{/unless}}

</template>