<template name="postEdit">
{{#with post}}
    <h2>Post Edit</h2>

    <div class="form-group">

        <div class="form-group">

            <a class="cancel">
                <button class="btn btn-sm btn-primary">
                    <i class="fa fa-arrow-left"></i>
                    Save
                </button>
            </a>


            <a class="delete-link">
                <button class="btn btn-sm btn-danger">
                    <i class="fa fa-trash"></i>
                    Delete
                </button>
            </a>
        </div>

    </div>

    <div class="form-group">

        <label for="name">
            Post Title:
        </label>

        <input class="form-control"
               type="text"
               name="name"
               value="{{title}}"/>
    </div>

    <div class="form-group">
        <button class="btn btn-sm btn-primary pick-image">
            <i class="fa fa-image"></i>
            Set Image
        </button>

        {{#if image_url}}
            <button class="btn btn-sm btn-primary remove-image">
                Unset
            </button>
        {{/if}}
    </div>

    {{> image image_url=image_url }}

    <div class="form-group">
        <textarea id="editable">
            {{description}}
        </textarea>
    </div>
{{/with}}
</template>