<template name="profile">


    {{#if profile.services.google}}
        <div>
            <h2>User Profile: <br>{{profile.profile.name}}</h2>

            <img src="{{ profile.services.google.picture }}"
                 style="height: 100px;">
        </div>
    {{/if}}

    {{#if profile.profile.displayName }}
        <div>
            <h2>User Profile: <br>{{profile.profile.displayName}}</h2>
        </div>
    {{/if}}

    {{#unless profile}}
        <div>
            <h2>No Profile Available</h2>
        </div>
    {{/unless}}

    <div>
        <span>
            <i class="fa fa-comment"></i>
            {{pluralize userPlaceCount "Total Place"}}
        </span>
    </div>

    <br>

    <div>

        {{#each places}}

            {{> quick_place }}

        {{/each}}

    </div>

</template>