<template name="profile">


    {{#if profile.services.google}}
        <div>
            <h2>User Profile: <br>{{profile.profile.name}}</h2>

            <img src="{{ profile.services.google.picture }}"
                 style="height: 100px;">
        </div>
    {{/if}}

    {{#if profile.profile.displayName }}
        <div>
            <h2>User Profile: <br>{{profile.profile.displayName}}</h2>
        </div>
    {{/if}}

    {{#unless profile}}
        <div>
            <h2>No Profile Available</h2>
        </div>
    {{/unless}}


    <div>
            <span>
                {{ formatNumber visible_places_count }} shown,
                {{ formatNumber places_loaded_count }} loaded,
                out of {{ formatNumber userPlaceCount }} Places
            </span>

            <br>

            <span>
                {{#if exceeds_place_limit }}
                    More places are available, zoom in for more places.
                {{else}}
                    All places in visible area are available.
                {{/if}}
            </span>

    </div>

    <br>

    <div class="alternate-colors">

        {{#each places}}

            {{> quick_place }}

        {{/each}}

    </div>

</template>