<template name="quick_place">

    <div class="card my-card black-text quick-place" style="width: 100%">
        <div class="my-card-content card-content">

            <div class="top-right">
                <span>
                    {{#if properties.link_url}}
                        <a href="{{properties.link_url}}" target="_blank"><i class="fa fa-link fa-2x"></i></a>
                    {{/if}}
                    <i class="fa fa-location-arrow fa-2x pan-map tooltipped"
                       data-tooltip="Center"
                       data-position="left"></i>
                </span>
            </div>

            {{{ dynamic_place }}}

            <div class="go-to-place" style="cursor: pointer;">
                {{{ properties.description }}}
            </div>

            {{#if properties.description}}
            <div style="height: 10px;"></div>
            {{/if}}
        </div>


        {{#if anySort}}
        <div class="card-action">

            Sorting by:
            
            {{#if recentSort}}
                {{formatDate createDate}}
            {{/if}}

            {{#if voteSort}}
                <i class="fa fa-trophy"></i>
                {{ pluralize votes "Vote" }}
            {{/if}}

            {{#if creatorSort}}
                {{#if creator}}
                    <a href="#" class="profile-go">
                        <i class="fa fa-user"></i>
                        {{ creator }}
                    </a>
                {{/if}}
            {{/if}}

            {{#if postSort}}
                <i class="fa fa-comment"></i>
                {{ pluralize post_count "Comment" }}
            {{/if}}
            
        </div>
        {{/if}}
        

        {{#if properties.image_url }}
            <div class="card-image">
                {{> image image_url=properties.image_url makeLink=1 placeId=_id collectionId=collectionId }}
            </div>
        {{/if}}
    </div>

</template>