<template name="quick_post">

    {{#if postRoute }}

        <h2>
            {{title }}
        </h2>

    {{else}}

        <h3>
            {{title }}
        </h3>

    {{/if}}

    {{#if postRoute }}

        {{> image image_url=image_url }}

    {{else}}

        {{> image image_url=image_url postId=_id collectionId=collectionId makeLink=1 }}

    {{/if}}

    <div>

        <div class="form-group">

            <span>
                <a href="#" class="profile-go">
                    <i class="fa fa-user"></i>
                    {{ creator }}
                </a>
            </span>

            {{#if commentMode}}

                <span> //
                    <i class="fa fa-comment"></i>
                    {{ commentCount }}
                </span>

            {{else}}

                {{#if writePermission}}

                    <span> //
                        <a href="" class="remove-post">
                            <i class="fa fa-remove"></i>
                            Delete
                        </a>
                    </span>

                {{/if}}

            {{/if}}

        </div>

    </div>

    <div>
        {{{ description }}}
    </div>

    {{#unless creatorUID}}
        <h2 align="center">
            Post is missing.  Perhaps post has been deleted?
        </h2>
    {{/unless}}

</template>