<template name="quick_place">

    <div class="card my-card black-text quick-place" style="width: 100%">
        <div class="my-card-content card-content">

            <div class="pan-map">
                <span>
                    <i class="fa fa-location-arrow fa-2x top-right"
                       data-toggle="tooltip"
                       data-placement="left"
                       title="Click to go to the place"></i>
                </span>
            </div>

            {{{ dynamic_place }}}

            {{{ properties.description }}}

            {{#if properties.description}}
            <div style="height: 10px;"></div>
            {{/if}}
        </div>


        {{#if anySort}}
        <div class="card-action">

            Sorting by:
            
            {{#if recentSort}}
                {{formatDate createDate}}
            {{/if}}

            {{#if voteSort}}
                <i class="fa fa-trophy"></i>
                {{ pluralize votes "Vote" }}
            {{/if}}

            {{#if imageSort}}
                {{#unless properties.image_url}}
                  (no image)
                {{/unless}}
            {{/if}}

            {{#if creatorSort}}
                {{#if creator}}
                    <a href="#" class="profile-go">
                        <i class="fa fa-user"></i>
                        {{ creator }}
                    </a>
                {{/if}}
            {{/if}}

            {{#if postSort}}
                <i class="fa fa-comment"></i>
                {{ pluralize post_count "Post" }}
            {{/if}}
            
        </div>
        {{/if}}
        

        {{#if properties.image_url }}
            <div class="card-image">
                {{> image image_url=properties.image_url makeLink=1 placeId=_id collectionId=collectionId }}
            </div>
        {{/if}}
    </div>

</template>