<template name="recent">

    <h2>
        Recent Activity for
        <a href="#" class="collection-go">
            {{ collection.name }}
        </a>
    </h2>

    <hr>

    <h4>
        <i class="fa fa-clock-o">
           Recent Places
        </i>
    </h4>

    <div class="alternate-colors">

        {{#each recent_places}}

            {{> quick_place }}

        {{/each}}

    </div>

    {{#if noPlaces }}
        <div>
            No recent places
        </div>
    {{/if}}

    <hr>

    <h4>
        <i class="fa fa-clock-o">
            Recent Posts
        </i>
    </h4>

    <div class="alternate-colors">

        {{#each recent_posts}}
            <div class="quick-post">
                <span class="post-go" style="cursor: pointer;">
                    <h4>
                        {{title}}
                    </h4>
                </span>
                {{{ description }}}
            </div>
        {{/each}}

    </div>

    {{#if noPosts }}
        <div>
            No recent posts
        </div>
    {{/if}}

    <hr>

    <h4>
        <i class="fa fa-clock-o">
            &thinsp;Recent Comments
        </i>
    </h4>

    <div class="alternate-colors">

        {{#each recent_comments}}
            <div class="quick-post">
                <span class="comment-go" style="cursor: pointer;">
                    <h4>
                        To post
                    </h4>
                </span>
                {{{ text }}}
            </div>
        {{/each}}

    </div>

    {{#if noComments }}
        <div>
            No recent comments
        </div>
    {{/if}}

</template>