<template name="search">

    <h2>Search Place Data</h2>

    {{#unless zoomIn}}

        <div class="form-group">
            <input type="text"
                   id="srch"
                   name="srch"
                   class="form-control"
                   placeholder="Search terms"/>
        </div>

        <div class="toggle-search">
            <input id="toggle-search"
                   data-toggle="toggle"
                   type="checkbox"
                   data-off="Factual"
                   data-on=" TogetherMap "
                   data-onstyle="primary"
                   data-offstyle="primary">
        </div>

    {{else}}
        Zoom in to search.
    {{/unless}}

    {{#if searchLoading}}
        Searching...
    {{/if}}

    {{#if searchCompleted}}

        <div style="margin-top: 10px; margin-bottom: 10px;">
            {{#if latestQuery}}
                Results for '{{latestQuery}}'.<br>
            {{/if}}


            {{#if factualSearch}}
                Showing {{includedRows}} rows out of {{totalRows}} within current map ({{loadedRows}} loaded).
            {{else}}
                    Showing {{includedRows}} within current map ({{loadedRows}} loaded).
            {{/if}}
        </div>

        <div class="alternate-colors">

            {{#each searchResults}}

                {{> quick_place }}

            {{/each}}

        </div>
    {{/if}}

</template>


<template name="factual_place">
    {{#with activePlace}}
        <div>
            <h3>
                {{properties.name}}
            </h3>

            {{#if properties.website}}
                <a href="{{properties.website}}" target="_blank">
                    website
                </a>
            {{/if}}
        </div>
    {{/with}}
</template>