<template name="search">

    <h2>Search Places</h2>

    {{#unless zoomIn}}

        <div class="form-group">
            <input type="text"
                   id="srch"
                   name="srch"
                   class="form-control"
                   placeholder="Search terms"/>
        </div>

    {{else}}
        Zoom in to search.
    {{/unless}}

    {{#if searchLoading}}
        Searching...
    {{/if}}

    {{#if searchCompleted}}

        <div style="margin-top: 10px; margin-bottom: 10px;">
            {{#if latestQuery}}
                Results for '{{latestQuery}}'<br>
            {{/if}}
        </div>

        <div>

            {{#each searchResults}}
            
                {{> quick_place }}

            {{/each}}

        </div>
    {{/if}}

</template>